body{
    font-family:Calibri;
        font-size:12px;
}

.location{
    float:left;
    margin:5px;
}

#intro{
    position:absolute;
    left:160px;
    top:90px;
    color:white;
    background-color:grey;
    width:250px;
    height:130px;
    text-align: center;
    font-size: 16px;
}

.clickable{
    cursor: pointer;
    cursor: hand;
}

#knapsack_things{
    border-radius: 30px;
    background-color: #CAC0D1;
    border-width:2px;
    border-color:black;
    border-style:solid;
    width:210px;
    height:240px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
}

#house_things{
    background-image:url('shelves.png');
    width:200px;
    height:210px;
    padding-left:25px;
    padding-right:25px;
    padding-top:40px;
    color:white;

}

.thing{
    display: inline-block;
    text-align:center;
    font-style: italic;
    margin:3px;
    cursor: pointer;
    cursor: hand;
}

.things img{
    padding-top:15px;
    width:56px;  
}

#recordHistory{
    height: 136px;
    width:250px;
    font-size: 12px;
    overflow-y: auto;
    margin: 3px;
    border-width:1px;
    border-color:black;
    border-style:solid;
}

.header{
    text-align:center;
    font-size:12px;
}

.header img{
    height:70px;
    margin:5px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#warning{
    width:200px;
    height:40px;
    background:red;
    font-size: 30px;
    position:absolute;
    left:165px;
    top:165px;
    text-align:center;
}

.footer{
    text-align:center;
}

#muteButton{
    width:30px;
    height:30px;
    position:absolute;
    left:750px;
    top:20px;
    border:0;
    padding:0;
    border-radius: 8px;
}

#resetButton{
    width:30px;
    height:30px;
    position:absolute;
    left:715px;
    top:20px;
    border:0;
    padding:0;
    border-radius: 8px;
    background-image: url('reset.png');
}

#clearButton{
    position:absolute;
    left:600px;
    top:348px;
}

#info-text{
    font-size:16px;
}

#legend{
    width:80px;
    height:60px;
    position:absolute;
    top:120px;
    left:710px;
    background-image:url('legend.png');
}