body{
    font-family:Calibri
}

.location{
    float:left;
    margin:20px;
}

.things{
    width:350px;
    height:350px;
    border-width:1px;
    border-color:black;
    border-style:solid;
}

.thing{
    display: inline-block;
    text-align:center;
    font-style: italic;
    margin:5px;
}

.things img{
    width:100px;  
}

#recordHistory{
    height: 206px;
    width:350px;
    font-size: 20px;
    overflow-y: auto;
    margin: 5px;
    border-width:1px;
    border-color:black;
    border-style:solid;
}

.header img{
    height:100px;
    margin:10px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#warning{
    width:400px;
    height:80px;
    background:red;
    font-size: 60px;
    position:absolute;
    left:200px;
    top:200px;
    text-align:center;
}

.footer{
    text-align:center;
}

