body{
    font-family:Calibri
}

.location{
    float:left;
    margin:20px;
}

#intro{
    position:absolute;
    left:200px;
    top:100px;
    color:white;
    background-color:grey;
    width:400px;
    height:200px;
    text-align: center;
    font-size: 24px;
}

#knapsack_things{
    border-radius: 60px;
    background-color: #CAC0D1;
    border-width:2px;
    border-color:black;
    border-style:solid;
    width:270px;
    height:330px;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
}

#house_things{
    background-image:url('shelves.png');
    width:270px;
    height:290px;
    padding-left:40px;
    padding-right:40px;
    padding-top:60px;
    color:white;

}

.thing{
    display: inline-block;
    text-align:center;
    font-style: italic;
    margin:5px;
}

.things img{
    padding-top:20px;
    width:75px;  
}

#recordHistory{
    height: 232px;
    width:350px;
    font-size: 20px;
    overflow-y: auto;
    margin: 5px;
    border-width:1px;
    border-color:black;
    border-style:solid;
}

.header{
    text-align:center;
    font-size:20px;
}

.header img{
    height:100px;
    margin:10px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#warning{
    width:400px;
    height:80px;
    background:red;
    font-size: 60px;
    position:absolute;
    left:200px;
    top:200px;
    text-align:center;
}

.footer{
    text-align:center;
}

#muteButton{
    width:50px;
    height:50px;
    position:absolute;
    left:1095px;
    top:20px;
    border:0;
    padding:0;
    border-radius: 8px;
}